[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/lachlanorr/nanovg.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/lachlanorr/glm.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/lachlanorr/stb.git
[submodule "external/nana"]
	path = external/nana
	url = https://github.com/lachlanorr/nana.git
