[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/lachlanorr/nanovg.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/lachlanorr/glm.git
[submodule "external/libtiff"]
	path = external/libtiff
	url = https://github.com/lachlanorr/libtiff.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/lachlanorr/assimp.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/lachlanorr/glfw.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/lachlanorr/bullet3.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/lachlanorr/libpng.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/lachlanorr/zlib.git
[submodule "external/brotli"]
	path = external/brotli
	url = https://github.com/lachlanorr/brotli.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/lachlanorr/rapidjson.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/lachlanorr/imgui.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/lachlanorr/portaudio.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/lachlanorr/googletest.git
[submodule "external/bzip2"]
	path = external/bzip2
	url = https://github.com/lachlanorr/bzip2.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/lachlanorr/freetype.git
[submodule "external/harfbuzz"]
	path = external/harfbuzz
	url = https://github.com/lachlanorr/harfbuzz.git
